@import "tailwindcss";

/* index.css */
html.dark body {
  background-color: #111827; /* dark bg */
  color: #f3f4f6; /* light text */
}

html.dark .bg-white {
  background-color: #1f2937 !important; /* dark card bg */
}

html.dark .text-zinc-900 {
  color: #f3f4f6 !important; /* dark text */
}

html.dark .border-zinc-200 {
  border-color: #374151 !important; /* dark borders */
}
